#container-cards{
  height: 30vh;
  background-color: #F8F8FF;
}
.area-cards{
  display: flex;
  justify-content: center;
  gap: 55px;  
}
.cards{
  border: 1px solid #373F51;
  background-color: #373F51;
  color: #fafafa;
  border-radius: 8px;
  width: 200px;
  height: 185px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.data-title{
  font-weight: normal;
  font-size: 16px;
}

.min_max{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #fafafa;
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading img{
  width: 40px;
}

@media(max-width: 768px){
  .area-cards{
    flex-direction: column;
    align-items: center;
  }
  .inputs input{
    width: 300px;
  }
  .inputs button{
    width: 70px;
  }
}